body,
html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}
@import "defaults/defaults";
@import "components/components";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	position: relative;
	z-index: 2;
	font-family: "Montserrat";
	font-size: var(--fs-800);
	font-weight: var(--wgt-800);
	color: #ffb000;
	text-transform: uppercase;
	text-align: center;
	height: fit-content;
}
span.regular {
	-webkit-text-stroke: 2px #ffb000;
}
span.outline {
	letter-spacing: -25px;
	-webkit-text-stroke: 2px #ffb000;
	-webkit-text-fill-color: #ffb000;
	fill: #ffb000;
}
span.heading-hover {
	letter-spacing: 2px;
}

#landingPage {
	background-color: black;
	width: 100%;
	min-height: 100vh;
	height: auto;
	display: grid;
	place-items: center;
	position: relative;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mix-blend-mode: screen;
	}
}

.CTA {
	place-self: flex-start center;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	height: auto;
	position: relative;
	z-index: 2;
	.box {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 33.33%;
		height: 60px;
		border: 2px solid #ffb000;
		transition: all 0.2s ease-out;
	}
	.button {
	}
}

@import "responsiveBehavior/responsiveBehavior";
