.section {
	width: 100%;
	min-height: 100vh;
	height: auto;
}

.section-1 {
	padding-top: 60px;
	display: grid;
	place-items: center;
	position: relative;
	grid-template-rows: 7fr 4fr;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mix-blend-mode: screen;
	}

	.CTA {
		margin-top: 50px;
		place-self: flex-start center;
		height: 100%;
		max-width: 600px;
		width: auto;
		display: flex;
		flex-wrap: wrap;

		align-items: flex-start;
		position: relative;
		z-index: 2;
		.box {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 200px;
			height: 60px;
			border: 2px solid var(--clr-yellow-1);
			transition: all 0.2s ease-out;
		}
	}
}

.heading {
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.section-2 {
	.what-we-do-accordion {
		width: 100%;
	}
}
.section-3 {
}
.section-4 {
	background-color: var(--clr-black-1);
}

.article-section{
	background-color: var(--clr-black-1);
	height: 50vh;
	margin-top: 10rem;

	a.page-change{
		color: white;
		font-size: 20px;
	}
}
ul.page-transition{
	display: flex;
	position: absolute;
	z-index: 9999;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	pointer-events: none;
	list-style-type: none;
}
ul.page-transition li{
	transform: scaleY(0);
	background-color: var(--clr-yellow-1);
	width: 20%;
}
ul.page-transition li div{
	width: 100%;
	height: 100%;
	transform: scaleX(0) scaleY(1);
	background-color: var(--clr-black-1);

}