.accordion {
	width: 100%;
	padding: 5px;
}

.accordion-body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	//padding: 0px !important;
	.illustration {
		flex: 3;
		order: 1;
		height: 100%;
		text-align: center;
		img {
			width: 50%;

			height: auto;
			pointer-events: none;
		}
	}
	.description {
		padding: 2rem 1.25rem;
		flex: 7;
		order: 2;
		> * + * {
			margin-top: 20px;
			max-width: 100ch;
		}
	}
}

.accordion-button {
	display: flex;
	min-height: 22vh;
	border: 0px !important;

	h3,
	h5 {
		text-align: left;
		width: 100%;
	}
	&:focus {
		border-color: transparent !important;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	}
	&:hover {
		border-color: transparent !important;
		box-shadow: 0 0 0 0.25rem rgba(255, 176, 0, 0.25) !important;
	}

	&:not(.collapsed) {
		background-color: transparent !important;
	}
	&::before {
		content: "";
		position: absolute;
		z-index: 4;
		right: 10px;
		top: 50%;
		transform: rotate(90deg);
		width: 20px;
		height: 3px;
		background-color: var(--clr-black-1);
	}
	&::after {
		position: absolute;
		right: 10px;
		top: 50%;

		width: 20px;
		height: 3px;
		background-color: var(--clr-black-1);
	}
	&:not(.collapsed)::before {
		transform: rotate(360deg) !important;
	}
	&:not(.collapsed)::after {
		transform: rotate(0deg) !important;

		background-image: none !important;
	}
}

.accordion-item:last-of-type .accordion-collapse {
	border-bottom-width: 0px !important;
}

.accordian-header {
	h3 {
		text-transform: uppercase !important;
	}
}
