button.button {
	color: #ffb000;
	font-family: $poppins;
	text-transform: capitalize;
	padding: 20px 20px;
	font-weight: wgt(--wgt-500);
	font-size: var(--fs-buttons);
	background: none;
	border: none;
	cursor: pointer;
	text-align: center;
}
