button.button {
	color: var(--clr-black-1);
	font-family: $poppins;
	text-transform: capitalize;

	font-weight: 500;
	font-size: var(--fs-buttons);
	background: none;
	border: none;
	cursor: pointer;
	text-align: center;

	width: 20rem;
	height: 5.6rem;
	padding-top: 0.2rem;
}
